## 1. Python Basic

### Python as a Calculator

In [5]:
# addition 
5+5

10

In [6]:
#subtraction
10-3

7

In [7]:
#multiplication
3*4

12

In [8]:
#division
12/6

2.0

In [9]:
#exponentiation
4**2

16

In [10]:
# modulo
18%7

4

In [11]:
# mathematical expression 
100* 1.1 ** 7

194.87171000000012

## Variables and Types

In [12]:
saving =100 
print(saving)

100

In [13]:
Factor =1.1

In [14]:
year=7

In [16]:
result=saving*Factor**year

In [17]:
print(result)

194.87171000000012

In [18]:
type(saving)

int

In [19]:
type(Factor)

float

In [20]:
type(result)

float

In [21]:
male=True
type(male)

bool

In [23]:
text= 'this is my first class'
type(text)

str

## Operation with other types

In [26]:
5+5

10

In [27]:
5+5.0

10.0

In [2]:
'this is my first class'

'this is my first class'

In [3]:
"this is my first class"

'this is my first class'

In [4]:
"""this is my first class
tomorrow will be second class"""

'this is my first class\ntomorrow will be second class'

In [37]:
'hello ' + 'world'

'hello world'

In [36]:
"Hershey's " + 'chocolates'

"Hershey's chocolates"

## Type Conversion

In [40]:
float(5)

5.0

In [41]:
int(5)

5

In [1]:
str(5.0)+str(5.0)

'5.05.0'

In [43]:
str(5.0)

'5.0'

In [1]:
initial_amount=10
final_amount=100
print('I started with ' + str(initial_amount) + ' now I have ' + str(final_amount))

I started with 10 now I have 100